.navbar{
    background-color: tomato;
    display: flex;
    align-items: center;
    height: 50px;
    justify-content: center;
    
    nav{
        display: flex;
        align-items: center;
        gap: 40px;
        background: transparent;
        .nav-link{
            color: white;
            background-color: transparent;
            font-size: 18px;
            cursor: pointer;
            &:hover{
                border-bottom: 1px dotted black;
            }
        }
    }
}